

.botton {
    width: 35%;
    margin-left: 10%;
}

.container-bottons {
    padding-top: 2%;
    padding-bottom: 2%;
}

.tittle-middle {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bolder;
    margin-top: 2%;
}

#container-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 0%;
}

.space-top {
    padding-top: 2%;
}

.space-top-botton {
    margin-top: 2%;
}
#table-body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* body {
    background-color:#63AA9C;
    background-color: #4EB1BA;
} */

#buttons{
    text-align: center;
}